body{
    background-color: rgb(107, 209, 107);
    padding: 25px;
}
.heading{
    background-color: green;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.heading h1 {
    background-color: darkgreen;
    color :white;
    text-align: center;
    padding: 25px;
}
.heading ul li {
    /* text-align: center; */
    color: white;

}
.heading h2{
    color: white;
}
.spec{
    margin-bottom: 25px;
}
.avail {
    background-color: darkgreen;
    color: white;
    padding: 25px;
    margin-bottom: 25px;
}
